<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookregiMapper">
	<insert id="write_ok">
		insert into
		bookregi(title,publi,writer,writeyear,bimg,bea,bcode,ect,writeday)
		values(#{title},#{publi},#{writer},#{writeyear},#{bimg},#{bea},#{bcode},#{ect},now())
	</insert>
	<select id="getCode" resultType="String">
		select ifnull(max(substring(bcode,2,3)),0)+1 from bookregi
	</select>
	<select id="getChong" resultType="int">
		select ceil( count( distinct left(bcode,4) )/10 ) from bookregi
	</select>
	<select id="getChong2" resultType="int">
		select ceil(count(distinct left(bcode,4))/10) from bookregi
		where ${type} like concat('%',#{keyword},'%')
	</select>
	<select id="getChong3" resultType="int">
		select ceil(count(distinct left(bcode,4))/10) from bookregi
		where title like concat('%',"${keyword}",'%')
		or writer like concat('%',"${keyword}",'%')
		or publi like concat('%',"${keyword}",'%')
	</select>
	<select id="list" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi where
		${type} like concat('%',"${keyword}",'%')
		group by substr(bcode,1,4) order by no desc limit #{start},10;
	</select>
	<select id="list2" resultType="com.example.demo.vo.BookregiVo">
		<!-- type은 다쓸거기때문에 받아오는 값도 없으니 매개변수로 받은거 지우고 title,publi,writer로 써준다. -->
		select * from bookregi where title like concat('%',"${keyword}",'%')
		or writer like concat('%',"${keyword}",'%') or
		publi like concat('%',"${keyword}",'%')
		group by substr(bcode,1,4) order by no desc limit #{start},10;
	</select>
	<select id="content" resultType="HashMap">
		select *,(select returnday from
		bookloan where bcode=b.bcode) as returnday from bookregi as b where
		bcode like concat(#{bcode},'%')
	</select>
	<select id="getlist" resultType="com.example.demo.vo.BookregiVo">
		select * from bookregi where
		bcode like concat(#{bcode},'%') order by no desc limit 1
	</select>
	<insert id="add">
		insert into
		bookregi(title,publi,writer,writeyear,bimg,bea,bcode,ect,writeday)
		values(#{title},#{publi},#{writer},#{writeyear},#{bimg},#{bea},#{bcode},#{ect},now())
	</insert>
	<update id="beaUpdate">
		update bookregi set bea=${n} where bcode like
		concat(#{bcode},'%')
	</update>
	<delete id="del">
		delete from bookregi where bcode=#{bcode}
	</delete>
	<select id="getcnt" resultType="int">
		select count(*) from bookregi where bcode like concat(#{bcode},'%')
	</select>
	<!-- <update id="statechange"> 이거 어디서 씀? update bookrequest set state=2 
		where no=#{no} </update> -->
	<select id="getValueBrvo" resultType="com.example.demo.vo.BookregiVo">
		select * from bookrequest where no=#{param}
	</select>
	<update id="chgStateBookrequest">
		update bookrequest set state=1 where no=#{brno}
	</update>
</mapper>