<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CalenderMapper">
	<select id="Cal2" resultType="HashMap">
		select chk,right(xday,2) as xday,str from cal where xday like
		concat(#{day},'%') and chk=1
	</select>
</mapper>